/* Black Apple Inc.
 * http://black-apple.biz/
 * Dixie CMS
 * Created by Luthfie
 * luthfie@y7mail.com
 */

/* Admin CSS */

body{
  font-family:Tahoma,Segoe UI,Arial;
  font-size:15px;
  margin:0px;
  padding:0px;
  height:auto;
  min-width:220px;
}
input,textarea,select,button,table{font-family:Tahoma,Segoe UI,Arial;font-size:13px;color:#333;}
a{text-decoration:none;color:#c33;}
a:hover{text-shadow:0 0 10px #c33;}

.header{
  margin:0px;
  padding:10px 5px;
  background-color:#c33;
  background-image:url('../images/gradient-red-head.png');
  background-repeat:repeat-x;
  color:#fff;
  font-size:21px;
  font-style:normal;
  font-weight:normal;
  font-family:Tahoma,Arial;
  min-width:220px;
  z-index:1;
}
#dixie_header{
  display:inline-block;
}
#dixie_header h2{
  display:inline-block;
  margin:0px 5px; padding:0px;
  font-size:21px !important;
}
#site_header{
  display:inline-block;
  position:realtive;
  float:right;
  font-size:13px;
  color:#fff;
  margin:0px;
  padding:5px;
}

.body{
  padding:0px;
  margin:0px;
  min-height:400px;
  background-color:#edd;
}

#aside_button{
  display:none;
  height:20px;
  width:20px;
  background-color:transparent;
  cursor:pointer;
  position:absolute;
  top:13px;
  left:74px;
  padding:0px;
  margin:auto;
}
#aside_button:hover{
  width:21px;
}
#aside_button .aside-button-stripo{
  background-color:#fff;
  height:3px;
  margin:3px 1px;
  padding:0px;
  border-radius:3px;
}
.aside{
  margin:0px;
  padding:0px 0px 0px 0px;
  display:inline-block;
  vertical-align:top;
  border-right:1px solid #999;
  border-top:1px solid #fff;
  width:150px;
  float:left;
  background-color:#e55;
}
.aside-each{padding:7px 5px 7px 10px;margin:0px;color:#fff;border-bottom:1px solid #fff;}
.aside-each:hover{background-color:#edd;color:#c33;text-shadow:-3px 3px 2px #555;} /*padding-left:15px;*/

.content{
  display:inline-block;
  padding:0px;
  margin:0px;
  vertical-align:top;
  border-left:1px solid #999;
  margin-left:-1px;
  width:630px;
  background-color:#edd;
  min-height:450px;
}
.content-header{font-weight:bold;padding:10px;margin:0px;color:#333;font-size:19px;}
.content-body{padding:10px;margin:0px;color:#333;}

.all-posts{}
.all-posts-each{
  border-top:1px solid #999;
  border-left:1px solid #999;
  margin:3px 0px;
  padding:7px 5px;
  background-color:#fff;
}
.post-option a{margin:0px 5px;padding:0px;}
.post-option a:hover{text-shadow:0 0 10px #c33;}
.post-option{
  font-size:12px;
  margin:5px 0px 0px;
  padding:3px;
  border-top:1px solid #bbb;
  border-left:1px solid #bbb;
  display:inline-block;
}
.post-option:hover{opacity:1;}
.post-detail{font-size:11px;color:#777;padding:0px;margin:5px 0px 0px;}
.post-detail a{color:#099;}
.post-description{font-size:11px;color:#777;padding:0px;margin:10px 5px 5px;display:none;}
.dedes{cursor:pointer;color:#990;}

.theme-screenshot{position:relative;display:inline-block;float:right;vertical-align:top;margin:5px;}

#change_editor,#view_post{
  border:0px none;
  width:auto;
  margin:5px;
  padding:5px 10px;
  height:auto;
  cursor:pointer;
  background-color:#e55;
  color:#fff;
  font-size:13px;
  display:inline-block;
}
#change_editor:hover,#view_post:hover{background-color:#d44;}
#change_editor:focus,#view_post:focus{background-color:#c33;}

.input-checkbox{
  padding:0px;
  margin:0px 5px 1px 1px;
}

.content-form{padding-right:5px;}
.form-content{margin:0px;padding:0px;margin-bottom:20px;}
.input-parent{margin:0px;padding:0px 12px 0px 0px;}
.form-input{border:1px solid #999;width:100%;margin:5px 0px;padding:5px;background-color:#fff;}
.input-title{font-size:large;}
.form-textarea{border:1px solid #999;width:100%;min-width:100%;max-width:100%;margin:5px 0px;padding:5px;height:100px;min-height:100px;}
.config-header{margin:10px 0px;}
.config-body{border:1px solid #bbb;margin-bottom:10px;background-color:#fff;}
.config-body:hover{background-color:#edd;}
.form-select{border:1px solid #999;width:100px;margin:5px 0px;padding:5px;}
.config-form{width:110px;display:inline-block;padding:5px;font-size:13px;}
.config-form-theme{width:150px;display:inline-block;padding:5px;font-size:13px;}
.form-select-theme{border:1px solid #999;width:140px;margin:5px 0px;padding:5px;}
.form-submit{
  border:0px none;
  width:auto;
  margin:5px 0px;
  padding:5px 10px;
  height:auto;
  cursor:pointer;
  background-color:#c33;
  background-image:url('../images/gradient-red-foot.png');
  background-repeat:repeat-x;
  color:#fff;
  font-size:17px;
}
.form-submit:hover{
  background-color:#b22;
  background-image:url('../images/gradient-red-foot-on.png');
  background-repeat:repeat-x;
}
.form-submit:focus{
  background-image:url('../images/gradient-red-head.png');
  background-repeat:repeat-x;
  background-color:#a11;
}
.form-account-info{border:1px solid #baa;margin:5px 0px 10px;padding:5px;background-color:#edd;}
.form-account-info-each{display:inline-block;margin:5px 0px;padding:0px 5px;border-left:1px solid #baa;font-size:13px;cursor:pointer;}
.form-account-info-each:hover{border:1px solid #baa;}
.post-extension{font-size:13px;display:none;padding-right:12px;z-index:2;}

.confirm-trash{display:inline-block;vertical-align:top;margin-top:5px;}
.confirm-cancel{display:inline-block;vertical-align:top;float:right;margin:0px;padding:0px;margin-top:5px;}

.cancel{
  border:0px none;
  width:auto;
  margin:5px 0px;
  padding:5px 10px;
  height:auto;
  cursor:pointer;
  background-color:#3c3;
  color:#fff;
  font-size:13px;
}
.cancel:hover{background-color:#2b2;}
.cancel:focus{background-color:#1a1;}

.next-posts{text-align:center;font-size:14px;background-color:#edd;border:1px solid #999;}
.next-posts:hover{background-color:#dcc;}
.next-posts a:hover{font-weight:bold;}

.footer{
  margin:0px;
  padding:10px 5px;
  background-color:#c33;
  color:#fff;
  font-size:13px;
  background-image:url('../images/gradient-red-foot.png');
  background-repeat:repeat-x;
  z-index:1;
}
.copyright{
  margin:0px;
  padding:0px;
}
.bai{color:#fff;}

.home-data{border:1px solid #999;margin:0px 0px 10px;padding:10px;background-color:#fff;}
.home-data:hover{background-color:#edd;}
.sub-home-content{margin:10px 0px 0px;padding:0px;}
.update-info{border:1px solid #999;margin:0px 0px 5px;padding:10px;background-color:#fff;}
.check-update{margin:20px 0px 30px;padding:0px;}
.check-update .check-button,.update-button{
  font-size:13px;
  margin:5px 7px;
  padding:5px 7px;
  background-color:#c33;
  background-image:url('../images/gradient-red-foot.png');
  background-repeat:repeat-x;
  color:#fff;
  border:0px none;
  cursor:pointer;
  display:inline-block;
}
.check-update .check-button:hover,.update-button:hover{
  background-image:url('../images/gradient-red-foot-on.png');
}
.check-update .check-button:focus,.update-button:focus{
  background-image:url('../images/gradient-red-head.png');
}

.clear-both{clear:both;}
.clear-left{clear:left;}
.clear-right{clear:right;}

#add_file{
  float:right;font-size:13px;opacity:0.9;
  border:0px none;
  width:auto;
  margin:5px 0px;
  padding:5px 10px;
  height:auto;
  cursor:pointer;
  background-color:#59d;
  color:#fff;
  display:inline-block;
}
#add_file:hover{background-color:#48c;}

#external_themes{
  border-top:1px solid #999;
  margin:10px 0px 0px;
  padding:10px;
  text-align:center;
}
.external-theme-each{
  display:inline-block;
  margin:5px;
  padding:5px;
  border:1px solid #aaa;
  vertical-align:top;
  text-align:left;
  width:170px;
  background-color:#fff;
  overflow:auto;
}

#external_plugins{
  border-top:1px solid #999;
  margin:10px 0px;
  padding:10px 0px 0px;
}
.external-plugin-each{
  display:block;
  margin:0px;
  margin-top:5px;
  padding:10px;
  border:1px solid #aaa;
  vertical-align:top;
  background-color:#fff;
  min-height:30px;
}

.external-float{
  margin-bottom:15px;
  float:right;
  z-index:2;
  text-align:right;
}
.external-center{
  margin-bottom:15px;
  z-index:2;
  text-align:center;
}

.external-price,.external-price-theme{
  margin:5px 0px;
  padding:2px 7px;
  color:#333;
  background-color:#f88;
  text-align:right;
  border-radius:3px;
  font-size:13px;
}
.external-price-theme{text-align:center;}

.external-free{
  margin:5px 0px;
  padding:2px 7px;
  color:#333;
  background-color:#8f8;
  text-align:center;
  border-radius:3px;
  font-size:13px;
}

.fs13{font-size:13px;}
.fs15{font-size:15px;}
.fs17{font-size:17px;}

.login-form{
  margin:30px auto;
  padding:10px;
  background-color:#fff;
  width:282px;
  border-radius:5px;behavior: url('pie.htc');
  box-shadow: -5px 5px 3px #999;
  -moz-box-shadow: -5px 5px 3px #999;
  -webkit-box-shadow: -5px 5px 3px #999;
  -o-box-shadow: -5px 5px 3px #999;
  -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=225, Color='#999999')";
  filter:progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=225, Color='#999999');
}
.login-header{font-weight:bold;padding:5px;color:#333;text-align:center;}
.login-input{margin:0px;padding:5px;}
.login-label{display:inline-block;width:97px;font-size:13px;margin:0px 10px 0px 0px;}
.login-text{display:inline-block;width:97px;font-size:13px;margin:0px 10px 0px 0px;}
.login-text-input{border:1px solid #999;padding:5px;width:150px;}
.login-submit{margin-left:107px;}
.login-error{color:#555;padding:5px;font-size:13px;}
.login-forget{color:#555;padding:5px;font-size:13px;margin:10px 0px;}


.button{
  display:inline-block;
  border:none;
  padding:5px 9px;
  margin:5px;
  background-color:#c33;
  color:#fff;
  cursor:pointer;
  background-image:url('../images/gradient-red-foot.png');
  background-repeat:repeat-x;
}
.button:hover{
  background-color:#b22;
  background-image:url('../images/gradient-red-foot-on.png');
  background-repeat:repeat-x;
}
.button:focus{
  background-color:#a11;
  background-image:url('../images/gradient-red-head.png');
  background-repeat:repeat-x;
}


#test{
  background: none repeat scroll 0% 0% #1076C1;
}

@media screen and (max-width:790px){
  body,input,textarea,select,button,form,table,
  a,span,div{font-size:small !important;}
  .aside{
    display:none;
    position:absolute;
    z-index:5;
    border-bottom:1px solid #999;
  }
  .body,.content{min-height:360px;}
  #aside_button{display:block;}
  .content{width:100%;}
  #page_content{
  
  }
}
@media screen and (min-width:1050px){
  #post_configuration{
    position:absolute;
    display:inline-block;
    top:100px;
    left:780px;
    padding:0px 10px 0px 0px;
  }
  .content{min-height:800px;}
}



